[Unit]
Description=Check UFW rules for orphaned rules/ports
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/close-orphaned-ufw-ports start
ExecStop=/bin/bash /usr/bin/close-orphaned-ufw-ports stop


[Install]
WantedBy=multi-user.target
